@model MVC_Library.Models.Entity.TblOperation

@{
    ViewBag.Title = "Edit";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

@using (Html.BeginForm("Edit", "Operation", FormMethod.Post))
{
    <div>
        <label>Book</label>
        @Html.DropDownListFor(m => m.TblBook.bookId, (List<SelectListItem>)ViewBag.bok, new { @class = "form-control" })
    </div>
    <div>
        <label>Member</label>
        @Html.DropDownListFor(m => m.TblMember.memberId, (List<SelectListItem>)ViewBag.mbr, new { @class = "form-control" })
    </div>
    <div>
        <label>Employee</label>
        @Html.DropDownListFor(m => m.TblEmployee.employeeId, (List<SelectListItem>)ViewBag.emp, new { @class = "form-control" })
    </div>
    <div>
        <label>Get Date</label>
        @Html.TextBoxFor(m => m.operationGetDate, new { @class = "form-control" })
    </div>
    <div>
        <label>Back Date</label>
        @Html.TextBoxFor(m => m.operationBackDate, new { @class = "form-control" })
    </div>
    @Html.HiddenFor(m => m.operationId)
    <div style="margin-top:10px">
        <button class="btn btn-success">UPDATE</button>
    </div>
}